<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="platibus.httpserver" type="Platibus.Http.HttpServerConfigurationSection, Platibus" />
  </configSections>

  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" description=".NET Framework Data Provider for SQLite" invariant="System.Data.SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="PlatibusUnitTests.LocalDB" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=PlatibusUnitTests; Integrated Security=true; MultipleActiveResultSets=True" />
  </connectionStrings>

  <platibus.httpserver baseUri="http://localhost:8081/" defaultContentType="application/json" replyTimeout="00:10:00">
    <queueing provider="Filesystem" path="platibus\queues" />
    <subscriptionTracking provider="Filesystem" path="platibus\subscriptions" />
    <endpoints>
      <add name="example" address="http://example.com/platibus/" credentialType="Basic" username="user" password="pass" />
    </endpoints>
    <topics>
      <add name="foo" />
    </topics>
    <sendRules>
      <add namePattern=".*example.*" endpoint="example" />
    </sendRules>
    <subscriptions>
      <add endpoint="example" topic="bar" ttl="1:00:00" />
    </subscriptions>
    <defaultSendOptions contentType="text/plain" ttl="00:05:00" synchronous="true" credentialType="Windows" />
  </platibus.httpserver>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
