<?xml version="1.0" encoding="utf-8"?>

<!--
The MIT License (MIT)

Copyright (c) 2015 Jesse Sweetland

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="platibus.loopback" type="Platibus.Config.LoopbackConfigurationSection, Platibus" />
    <section name="platibus.http0" type="Platibus.Http.HttpServerConfigurationSection, Platibus" />
    <section name="platibus.http1" type="Platibus.Http.HttpServerConfigurationSection, Platibus" />
    <section name="platibus.http-basic0" type="Platibus.Http.HttpServerConfigurationSection, Platibus" />
    <section name="platibus.http-basic1" type="Platibus.Http.HttpServerConfigurationSection, Platibus" />
    <section name="platibus.rabbitmq0" type="Platibus.RabbitMQ.RabbitMQHostConfigurationSection, Platibus.RabbitMQ" />
    <section name="platibus.rabbitmq1" type="Platibus.RabbitMQ.RabbitMQHostConfigurationSection, Platibus.RabbitMQ" />
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog31">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" description=".NET Framework Data Provider for SQLite" invariant="System.Data.SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="Console" layout="${date:format=yyyy-MM-dd HH\:MM\:ss} ${logger} [${threadid}] ${message} ${exception:format=tostring}" />
      <target name="file" xsi:type="File" layout="${date:format=yyyy-MM-dd HH\:MM\:ss} ${logger} [${threadid}] ${message} ${exception:format=tostring}" fileName="${basedir}/logs/Platibus.log" deleteOldFileOnStartup="true" createDirs="true" />
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="console,file" />
    </rules>
  </nlog>

  <!-- Critical for subscriber URLs to work properly when HttpListener is used -->
  <system.net>
    <settings>
      <httpListener unescapeRequestUrl="false" />
    </settings>
  </system.net>

  <platibus.loopback replyTimeout="00:00:30" defaultContentType="application/xml">
    <queueing provider="InMemory" />
    <topics>
      <add name="Topic0" />
    </topics>
  </platibus.loopback>

  <platibus.http0 baseUri="http://localhost:52180/platibus0/" replyTimeout="00:00:30">
    <queueing provider="SQLite" path="platibus0\queues" />
    <subscriptionTracking provider="Filesystem" path="platibus0\subscriptions" />
    <endpoints>
      <add name="platibus1" address="http://localhost:52180/platibus1/" />
    </endpoints>
    <topics>
      <add name="Topic0" />
    </topics>
    <sendRules>
      <add namePattern=".*" endpoint="platibus1" />
    </sendRules>
    <subscriptions>
      <add endpoint="platibus1" topic="Topic1" />
    </subscriptions>
  </platibus.http0>

  <platibus.http1 baseUri="http://localhost:52180/platibus1" replyTimeout="00:00:30">
    <queueing provider="SQLite" path="platibus1\queues" />
    <subscriptionTracking provider="Filesystem" path="platibus1\subscriptions" />
    <endpoints>
      <add name="platibus0" address="http://localhost:52180/platibus0" />
    </endpoints>
    <topics>
      <add name="Topic1" />
    </topics>
    <sendRules>
      <add namePattern=".*" endpoint="platibus0" />
    </sendRules>
    <subscriptions>
      <add endpoint="platibus0" topic="Topic0" />
    </subscriptions>
  </platibus.http1>

  <platibus.http-basic0 baseUri="http://localhost:52180/platibus0/" replyTimeout="00:00:30" defaultContentType="application/xml">
    <authenticationSchemes>
      <add scheme="Basic" />
    </authenticationSchemes>
    <queueing provider="Filesystem" path="platibus0\queues" />
    <subscriptionTracking provider="Filesystem" path="platibus0\subscriptions" />
    <endpoints>
      <add name="platibus1" address="http://localhost:52180/platibus1/" credentialType="Basic" username="platibus" password="Pbu$" />
    </endpoints>
    <topics>
      <add name="Topic0" />
    </topics>
    <sendRules>
      <add namePattern=".*" endpoint="platibus1" />
    </sendRules>
    <subscriptions>
      <add endpoint="platibus1" topic="Topic1" />
    </subscriptions>
  </platibus.http-basic0>

  <platibus.http-basic1 baseUri="http://localhost:52180/platibus1" replyTimeout="00:00:30" defaultContentType="application/xml">
    <authenticationSchemes>
      <add scheme="Basic" />
    </authenticationSchemes>
    <queueing provider="Filesystem" path="platibus1\queues" />
    <subscriptionTracking provider="Filesystem" path="platibus1\subscriptions" />
    <endpoints>
      <add name="platibus0" address="http://localhost:52180/platibus0" credentialType="Basic" username="platibus" password="Pbu$" />
    </endpoints>
    <topics>
      <add name="Topic1" />
    </topics>
    <sendRules>
      <add namePattern=".*" endpoint="platibus0" />
    </sendRules>
    <subscriptions>
      <add endpoint="platibus0" topic="Topic0" />
    </subscriptions>
  </platibus.http-basic1>

  <platibus.rabbitmq0 baseUri="amqp://test:test@localhost:5672/platibus0" replyTimeout="00:00:30">
    <endpoints>
      <add name="platibus1" address="amqp://test:test@localhost:5672/platibus1" />
    </endpoints>
    <topics>
      <add name="Topic0" />
    </topics>
    <sendRules>
      <add namePattern=".*" endpoint="platibus1" />
    </sendRules>
    <subscriptions>
      <add endpoint="platibus1" topic="Topic1" />
    </subscriptions>
  </platibus.rabbitmq0>

  <platibus.rabbitmq1 baseUri="amqp://test:test@localhost:5672/platibus1" replyTimeout="00:00:30">
    <endpoints>
      <add name="platibus0" address="amqp://test:test@localhost:5672/platibus0" />
    </endpoints>
    <topics>
      <add name="Topic1" />
    </topics>
    <sendRules>
      <add namePattern=".*" endpoint="platibus0" />
    </sendRules>
    <subscriptions>
      <add endpoint="platibus0" topic="Topic0" />
    </subscriptions>
  </platibus.rabbitmq1>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>