<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<section name="platibus.iis" type="Platibus.IIS.IISConfigurationSection, Platibus.IIS" />
		<section name="platibus.owin" type="Platibus.Owin.OwinConfigurationSection, Platibus.Owin" />
	</configSections>
	
	<system.data>
		<DbProviderFactories>
			<add name="SQLite Data Provider" description=".NET Framework Data Provider for SQLite" invariant="System.Data.SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	
	<connectionStrings>
		<add name="Platibus" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; Integrated Security=true; Initial Catalog=Platibus" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog31">
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>
	
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="file" xsi:type="File" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${logger} [${threadid}] ${message} ${exception:format=tostring}" fileName="${basedir}/logs/Platibus.log" deleteOldFileOnStartup="true" createDirs="true" />
		</targets>
		<rules>
			<logger name="Platibus" minlevel="Debug" writeTo="file" />
			<logger name="Platibus.Config" minlevel="Warn" writeTo="file"/>
			<logger name="Platibus.Http" minlevel="Debug" writeTo="file" />
			<logger name="Platibus.IIS" minlevel="Debug" writeTo="file" />
			<logger name="Platibus.Owin" minlevel="Debug" writeTo="file" />
			<logger name="Platibus.RabbitMQ" minlevel="Debug" writeTo="file" />
		</rules>
	</nlog>

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		
		<!-- 
		These settings are defined and use by the SampleWebApp to test various configurations.
		They are not part of the core library and will have no affect in other applications.
		-->
		<add key="platibus:RegisterHttpModule" value="true"/>
		<add key="platibus:ConfigureOwinMiddleware" value="false"/>
	</appSettings>
	
	<!--
	==============================================================================================
	PlatibusHttpModule (IIS) Configuration 
	
	The following configuration section (platibus.iis) is used by the PlatibusHttpModule module
	and the PlatibusHttpHandler.  It will be ignored when PlatibusOwinMiddleware is used. The 
	baseUri must agree with the bindings in IIS.
	==============================================================================================
    -->
	<platibus.iis baseUri="https://localhost:44359/platibus/" replyTimeout="00:00:30" bypassTransportLocalDestination="true">
		<journaling provider="Filesystem" path="platibus\journal" sent="true" received="true" published="true" />
		<!-- <journaling provider="SQLite" path="platibus\journal" sent="true" received="true" published="true" /> -->
		<!-- <journaling provider="SQL" connectionName="Platibus" sent="true" received="true" published="true" /> -->
		<queueing provider="Filesystem" path="platibus\queues" >
			<securityTokens provider="JWT" signingKey="F841B54685EF6F3C75C6565842DBE5D8" />
		</queueing>
		<!-- <queueing provider="SQLite" path="platibus\queues\sqlite" /> -->
		<!-- <queueing provider="SQL" connectionName="Platibus" /> -->
		<subscriptionTracking provider="Filesystem" path="platibus\subscriptions" />
		<endpoints>
			<add name="platibus" address="https://localhost:44359/platibus/" credentialType="NTLM" />
		</endpoints>
		<topics>
			<add name="Topic0" />
		</topics>
		<sendRules>
			<add namePattern=".*" endpoint="platibus" />
		</sendRules>
		<subscriptions>
			<add endpoint="platibus" topic="Topic0" ttl="00:10:00" />
		</subscriptions>
	</platibus.iis>


	<!--
	==============================================================================================
	PlatibusMiddleware (OWIN) Configuration 
	
	The following configuration section (platibus.owin) is used by the PlatibusMiddleware.  It 
	will be ignored when PlatibusHttpModule or PlatibusHttpHandler is used. The baseUri must agree 
	with the bindings in IIS or the HttpListener configuration (when self hosting).
	==============================================================================================
    -->
	<platibus.owin baseUri="https://localhost:44359/platibus/" replyTimeout="00:00:30" bypassTransportLocalDestination="true">
		<journaling provider="Filesystem" path="platibus\journal" sent="true" received="true" published="true" />
		<!--<journaling provider="SQLite" path="platibus\journal" sent="true" received="true" published="true" />-->
		<!--<journaling provider="SQL" connectionName="Platibus" sent="true" received="true" published="true" />-->
		<queueing provider="Filesystem" path="platibus\queues">
			<securityTokens provider="JWT" signingKey="F841B54685EF6F3C75C6565842DBE5D8" />
		</queueing>
		<!-- <queueing provider="SQLite" path="platibus\queues\sqlite" /> -->
		<!-- <queueing provider="SQL" connectionName="Platibus" /> -->
		<subscriptionTracking provider="Filesystem" path="platibus\subscriptions">
			<multicast enabled="true" address="239.255.21.80" port="52181" />
		</subscriptionTracking>
		<endpoints>
			<add name="platibus" address="https://localhost:44359/platibus/" credentialType="NTLM" />
		</endpoints>
		<topics>
			<add name="Topic0" />
		</topics>
		<sendRules>
			<add namePattern=".*" endpoint="platibus" />
		</sendRules>
		<subscriptions>
			<add endpoint="platibus" topic="Topic0" ttl="00:10:00" />
		</subscriptions>
	</platibus.owin>
	
	<system.web>
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5" />
		<authentication mode="Windows" />
	</system.web>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<!-- 
			Module/handler are commented out when using the OWIN middleware or when registering
			the HTTP module explicitly in Global.asax.cs (i.e. for custom configuration needs)
			-->
			<!-- <add name="platibus" type="Platibus.IIS.PlatibusHttpModule, Platibus.IIS" /> -->
		</modules>
		<!--  
		Platibus can be registered as an HTTP handler with a path that must match the absoluate
		path of the base URI in the <platibus.iis> configuration section above. 
		-->
		<!--
		<handlers>
			<add name="platibus" verb="*" path="platibus" type="Platibus.IIS.PlatibusHttpHandler, Platibus.IIS" />
		</handlers>
		-->
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>